# Simulation parameters
boxsize=100                      # Box width [pc]
level_HR=8                       # Level of the High-Resolution simulations
level_LR=6                       # Level of the Low-Resolution simulations
temp=10                          # Temperature [K]
SIMTYPE=calibration              # calibration/train/validation
mach_0=40                        # Initial Mach number, the final Mach is typically half

# System parameters
N_TASKS=16                                            # Number of MPI tasks
BASEPATH='/home/cluster/hlasco/bulk1/SRISMt_dataset'  # Basepath to store calibration and train data
NSIM_MAX=1                                            # Number of simulations to run